.princ{
    font-size: 3em;
}

.borda{
    border: solid 2px #000;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 2em;

    background-color: white;
    margin-bottom: 3em;
    box-shadow: 12px 12px 15px 5px black;
}

.centro{
    /* CENTRO */
    display: block;
    margin-left: auto;
    margin-right: auto;
}